<%= t(@project.name) %>

<div class="row">
	<div class="span4">
		<%= render "home/profile" %>
	</div>

	<div class="span8">
		<div class="span12" style="margin-left:-70px">
			<div class="span3">
				<div class="task-block">
					<h3> <blockquote style="color:#666"> TODO </blockquote> </h3>
					<hr />
				</div>
			</div>

			<div class="span3">
				<div class="task-block">
					<h3> <blockquote style="color:#666"> DOING </blockquote> </h3>
					<hr />
				</div>
			</div>

			<div class="span3">
				<div class="task-block">
					<h3> <blockquote style="color:#666"> DONE </blockquote> </h3>
					<hr />
				</div>
			</div>
		</div>
	</div>
</div>
